<html>
<title>Add a Spot</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'naps/style.css' %}">

  <div class="headerBlock">
    <div id="leftColumn">
      <a href="{% url 'naps:index' %}"><img src="{% static "naps/hoonaps-icon-full-transparent.png" %}" alt="hoonaps logo" width="200"></a>
    </div>
    <div id="rightColumn">
      <h1> thanks for contributing!</h1>
    </div>
  </div>
  <hr>
  <div class="texty" style="margin-left:300px; margin-right: 300px;">
    <a href="{% url 'naps:index' %}">Map </a>
    <a style="padding-left:20px;" href="{% url 'naps:list' %}">All Spots </a>
    <a style="padding-left:20px;" href="{% url 'naps:addSpot' %}">Add a Spot</a>
  </div>
  <hr>
  <div style="margin-top:20px; margin-bottom: 20px; margin-left:300px; margin-right:300px;">
    hi
  </div>
</html>
